* {
  font-size: 20px;
  line-height: 105%;
  font-family: monospace;
}

body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  background-color: rgb(207, 79, 242);
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  height: 100px;
  display: block;
  z-index: 2;
}

main {
  margin-top: 100px;
}

#titulo {
  text-align: center;
  font-size: 2em;
}

#minha_foto {
  width: 300px;
  padding: 40px;
  border-radius: 300px;
  margin: 40px;
  background-color: rgb(207, 79, 242);
}

#contact {
  font-size: 30px;
  text-decoration: none;
  color: black;
  padding: 10px 20px 20px;
  margin-left: 50px;
  display: block;
  width: max-content;
}

#contact:hover {
  color: blue;
}

#lessons {
  padding-top: 40px;
  margin: 50px;
}

h2 {
  font-size: 1.5em;
}

#licoes_aprendidas , #licoes_a_aprender {
  padding: 0 20px;
  margin: 40px;
  display: inline-block;
}

#artigo {
  margin-left: 40px;
  width: 50%;
  display: inline-block;
  border-right: 1px solid black;
}

#artigo p {
  padding: 50px;
  text-align: justify;
}

#lado_a_lado {
  padding: relative;
}

#de_lado {
  display: inline-block;
  width: 33%;
  height: 100%;
  position: absolute;
  z-index: 1;
  margin-left: 70px;
}

#de_lado p {
  text-align: justify;
  padding: 50px;
}

#rodape {
  border-top: 1px solid black;
  margin-top: 100px;
}

#rodape p {
  font-size: 18px;
  padding: 40px;
}
