body {
  background-color: rgb(253, 251, 251);
  margin: 0;
}

#cabecalho {
    background-color: #cf4ff2;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    height: 100px;
}

#titulo {
    text-align: center;
}
